<md-card style="margin-top: 0px; margin-left: 16px; margin-right: 16px; min-width: 468px">
  
  <md-card-title style="font-size: 20px">Adoption / Section Info</md-card-title> 
  <md-card-content>

    <div id="block_container" style="width: 100%">
      <div id="bloc1" style="width: 55%">
          
        <table>
          <tr>
            <td>
              <p>Course Level</p>
            </td>
            <td>
              <button class="app-icon-button" style="padding-left: 16px">
                <div id="block_container">
                <div id="bloc1" style="padding-top: 9px">
                <i1>1000</i1>
                </div>
                <div id="bloc2" style="padding-top: 4px; padding-left: 16px">
	              <i class="material-icons" style="color: #757575">arrow_drop_down</i>
                </div>
                </div>
	            </button>
            </td>
          </tr>
          <tr>
            <td>
              <p>Section Starts</p>
            </td>
            <td>
              <button class="app-icon-button" style="padding-left: 16px">
                <div id="block_container">
                <div id="bloc1" style="padding-top: 9px">
                <i1>05/22/2016</i1>
                </div>
                <div id="bloc2" style="padding-top: 4px; padding-left: 16px">
	              <i class="material-icons" style="color: #757575">arrow_drop_down</i>
                </div>
                </div>
	            </button>
            </td>
          </tr>
          <tr>
            <td>
              <p>Section Ends</p>
            </td>
            <td>
              <button class="app-icon-button" style="padding-left: 16px">
                <div id="block_container">
                <div id="bloc1" style="padding-top: 9px">
                <i1>07/28/2016</i1>
                </div>
                <div id="bloc2" style="padding-top: 4px; padding-left: 16px">
	              <i class="material-icons" style="color: #757575">arrow_drop_down</i>
                </div>
                </div>
	            </button>
            </td>
          </tr>
          <tr>
            <td>
              <p>Instructor</p>
            </td>
            <td>
              <button class="app-icon-button" style="padding-left: 16px">
                <div id="block_container">
                <div id="bloc1" style="padding-top: 10px">
                <i1>R. Decker</i1>
                </div>
                <div id="bloc2" style="padding-top: 6px; padding-left: 16px">
	              <i class="material-icons" style="color: #757575">call_made</i>
                </div>
                </div>
	            </button>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="padding-left: 0px; padding-bottom: 12px">
              <md-checkbox md-list-avatar [checked]="false">
              </md-checkbox>
            </td>
            <td style="padding-top: 0px; padding-left: 16px">
              <p>Cross Listed Enrollment</p>
            </td>
          </tr>
          <tr>
            <td style="padding-left: 0px; padding-bottom: 12px">
              <md-checkbox md-list-avatar [checked]="false">
              </md-checkbox>
            </td>
            <td style="padding-top: 0px; padding-left: 16px">
              <p>Continuous Adoption</p>
            </td>
          </tr>
          <tr>
            <td style="padding-left: 0px; padding-bottom: 12px">
              <md-checkbox md-list-avatar [checked]="false">
              </md-checkbox>
            </td>
            <td style="padding-top: 0px; padding-left: 16px">
              <p>Access Code Required</p>
            </td>
          </tr>
        </table>
      </div>  
      
<!-- This is the second column-->
      
      <div id="bloc2" style="width: 45%; min-width: 210px">
        <table>
          <tr>
            <td>
              <button class="app-icon-button" style="padding-left: 0px">
                <div id="block_container">
                  <div id="bloc1" style="padding-top: 12px">
                    <i class="material-icons" style="color: #757575">comment</i>
                  </div>
                  <div id="bloc2" style="padding-top: 0px; padding-left: 16px">
	                  <p style="font-size: 13px">2 Notes</p>
                  </div>
                </div>
	            </button>
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin-top: 9px">Required?</p>
            </td>
            <td>
              <button class="app-icon-button" style="padding-left: 16px">
                <div id="block_container">
                <div id="bloc1" style="padding-top: 5px">
                <i1>Optional</i1>
                </div>
                <div id="bloc2" style="padding-top: 0px; padding-left: 16px">
	              <i class="material-icons" style="color: #757575">arrow_drop_down</i>
                </div>
                </div>
	            </button>
            </td>
          </tr>
          <tr>
            <td>
              <p>Research</p>
            </td>
            <td>
              <button class="app-icon-button" style="padding-left: 16px">
                <div id="block_container">
                <div id="bloc1" style="padding-top: 9px">
                <i1>Approved</i1>
                </div>
                <div id="bloc2" style="padding-top: 4px; padding-left: 16px">
	              <i class="material-icons" style="color: #757575">arrow_drop_down</i>
                </div>
                </div>
	            </button>
            </td>
          </tr>
        </table>
          <table>
          <tr>
            <td>
              <p style="font-size: 13px; margin: 0px; padding-bottom: 6px">Class Capacity</p>
            </td>
            <td>
	            <md-input placeholder="30" style="width: 40px; margin-top: -8px; margin-left: 16px; float: left"></md-input>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-size: 13px; margin: 0px; padding-bottom: 7px">Est. Enrollment</p>
            </td>
            <td>
	            <md-input placeholder="30" style="width: 40px; margin-top: -8px; margin-left: 16px; float: left"></md-input>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-size: 13px; margin: 0px; padding-bottom: 7px">Actual Enrollment</p>
            </td>
            <td>
	            <md-input placeholder="27" style="width: 40px; margin-top: -8px; margin-left: 16px; float: left"></md-input>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-size: 13px; margin: 0px; padding-bottom: 7px">Quantity to Provide</p>
            </td>
            <td>
	            <md-input placeholder="27" style="width: 40px; margin-top: -8px; margin-left: 16px; float: left"></md-input>
            </td>
          </tr>
        </table>
      </div>
    </div>
 
   </md-card-content>
</md-card>    
