<!-- This is the sidenav component wrapper. This cannot be a component. -->
<md-sidenav-layout>
    <md-sidenav #sidenav mode = "side" opened = "true" style = "padding: 0px; margin: 0px; width: 250px">
      <md-list dense [ngSwitch]="currentDropdownState">
        
        <!-- School menu -->
        
        <div>
          <button (click) = "toggleDropdownState('school')" class = "catalog-menu-button">
              <md-list-item>
                <h3 md-line> School </h3>
                <p md-line>
                <span class="demo-2"> {{schoolDisplayed}} </span>
                </p>
              </md-list-item>
          </button>
          <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen="'school'" class="dropdown-content">
            <a *ngFor = 'let school of schools' (click) = "toggleDropdownState(null); updateSchoolDropdown(school)">{{school.name}}</a>
          </div>
        </div>
        
        <!-- Term menu and more_vert -->
        
        <div>
          <button class = "catalog-menu-button" id = "term-dd">
              <md-list-item>
                <h3 md-line (click) = "toggleDropdownState('term')"> Term </h3>
                <p md-line (click) = "toggleDropdownState('term')">
                <span class="demo-2"> {{termDisplayed}} </span>
                </p>
                  <button (click) = "toggleDropdownState('termMenu')" class = "icon-button">
                    <md-icon class="material-icons">more_vert</md-icon>
                  </button>
              </md-list-item>
          </button>
          <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen="'term'" class="dropdown-content">
            <a *ngFor = 'let term of terms' (click) = "toggleDropdownState(null); updateTermDropdown(term)">{{term.name}}</a>
          </div>
          <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen = "'termMenu'" class="menu-content">
            <a (click) = "toggleDropdownState(null); openOverlay(); toggleEditTermDialog()">Edit Term</a>
            <a (click) = "toggleDropdownState(null); openOverlay()">Create Term</a>
            <a (click) = "toggleDropdownState(null); openOverlay()">Delete Term</a>
          </div>
        </div>
        
        <!-- Department menu and more_vert -->
        
        <div>
            <button class = "catalog-menu-button" id = "department-dd">
               <md-list-item>
                  <h3 md-line (click) = "toggleDropdownState('department')"> Department </h3>
                  <p md-line (click) = "toggleDropdownState('department')">
                    <span class="demo-2"> {{departmentDisplayed}} </span>
                  </p>
                  <button (click) = "toggleDropdownState('departmentMenu')" class = "icon-button">
                    <md-icon class="material-icons">more_vert</md-icon>
                  </button>
               </md-list-item>
            </button>
            <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen="'department'" class="dropdown-content">
                <a (click) = "toggleDropdownState(null)">--</a>
                <a *ngFor = 'let department of departments' (click) = "toggleDropdownState(null); updateDepartmentDropdown(department)">{{department.name}}</a>
            </div>
            <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen = "'departmentMenu'" class="menu-content">
                <a (click) = "toggleDropdownState(null); openOverlay(); toggleEditTermDialog()">Edit Department</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Create Department</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Delete Department</a>
            </div>
        </div>
        
        <!-- Course menu and more_vert -->
        
        <div>
            <button class = "catalog-menu-button" id = "course-dd">
               <md-list-item>
                  <h3 md-line (click) = "toggleDropdownState('course')"> Course </h3>
                  <p md-line (click) = "toggleDropdownState('course')">
                    <span class="demo-2"> {{courseDisplayed}} </span>
                  </p>
                  <button (click) = "toggleDropdownState('courseMenu')" class = "icon-button">
                    <md-icon class="material-icons">more_vert</md-icon>
                  </button>
               </md-list-item>
            </button>
            <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen="'course'" class="dropdown-content">
                <a (click) = "toggleDropdownState(null)">--</a>
                <a *ngFor = 'let course of courses' (click) = "toggleDropdownState(null); updateCourseDropdown(course)">{{course.name}}</a>
            </div>
            <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen = "'courseMenu'" class="menu-content">
                <a (click) = "toggleDropdownState(null); openOverlay(); toggleEditTermDialog()">Edit Course</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Create Course</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Delete Course</a>
            </div>
        </div>
        
        <!-- Section menu and more_vert -->

        
        <div>
            <button class = "catalog-menu-button" id = "section-dd">
               <md-list-item>
                  <h3 md-line (click) = "toggleDropdownState('section')"> Section </h3>
                  <p md-line (click) = "toggleDropdownState('section')">
                    <span class="demo-2"> {{sectionDisplayed}} </span>
                  </p>
                  <button (click) = "toggleDropdownState('sectionMenu')" class = "icon-button">
                    <md-icon class="material-icons">more_vert</md-icon>
                  </button>
               </md-list-item>
            </button>
            <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen = "'section'" class="dropdown-content">
                <a (click) = "toggleDropdownState(null)">--</a>
                <a *ngFor = 'let section of sections' (click) = "toggleDropdownState(null); updateSectionDropdown(section)">{{section.name}}</a>
            </div>
            <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen = "'sectionMenu'" class="menu-content">
                <a (click) = "toggleDropdownState(null); openOverlay(); toggleEditTermDialog()">Edit Section</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Create Section</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Delete Section</a>
            </div>
        </div>
        
        
        <md-divider></md-divider>
        <md-list dense>
          
        <!-- Adoptions by Title subheader and submenu -->
          
        <div>
          <md-list-item style="padding-bottom: 10px">
            <p md-line>
            <span class="demo-2" style="font-size: 13px"> Adoptions by Title </span>
            </p>
            <button  (click) = "toggleDropdownState('adoptionsMenu')" class="icon-button">
	            <md-icon class="material-icons">list</md-icon>
	          </button>
          </md-list-item>
          <div (mouseleave) = "toggleDropdownState(null)" *ngSwitchWhen = "'adoptionsMenu'" class="menu-content">
                <a (click) = "toggleDropdownState(null); openOverlay()">Refine Adoptions</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Add Adoption</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Delete Selected Adoptions</a>
                <hr COLOR=#eee WIDTH=90% HR SIZE=0>
                <a (click) = "toggleDropdownState(null); openOverlay(); createOrder()">Create Order</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Print Course Labels</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Update Research Status</a>
                <a (click) = "toggleDropdownState(null); openOverlay()">Export Selected Adoptions</a>
                <a (click) = "toggleDropdownState(null); selectAllSelectNone()">Select All / Select None</a>
                
          </div>
        </div>
          
          <!-- Adoptions by Title -->
          
        

        <div class = "list-hover" id = "{{adoption.id}}" *ngFor = 'let adoption of adoptionsByTitle'>
          <md-list-item>
            <a md-list-avatar style="padding-bottom: 10px">
              <md-checkbox [checked]="adoption.selected" (change)="toggleCheckmark(adoption)">
              </md-checkbox>
            </a>
            <button class = "list-button" (click) = "adoptionSelected([adoption.id])">
              <h4 md-line style = "margin: 2px; font-weight: normal; font-size: 13px"> {{adoption.name}} </h4>
              <p md-line style = "margin: 2px" class="demo-2"> {{adoption.ean}} </p>
            </button>
          </md-list-item>
          </div>
       
        </md-list>  
    </md-list>
	</md-sidenav>
    
    
    <!-- Body -->

	  <body style ="margin: 0px; padding: 0px; background-color: #eee; height: 900px">

      <md-toolbar style="background-color:#2196F3; color:#FFFFFF">
        <button class="toolbar-icon-button" (click)="sidenav.toggle()">
	        <i class="material-icons" style = "color: #fff">menu</i>
	      </button>
        <span>Textbook Management</span>
      </md-toolbar>
      
      <app-title-card>Loading...</app-title-card>
      
      <div id="block_container" style="width: 100%; min-width: 1060px">
        <div id="bloc1" style="width: 50%"><app-adopted-on-card>Loading...</app-adopted-on-card></div>  
        <div id="bloc2" style="width: 50%"><app-adoption-section-card>Loading...</app-adoption-section-card></div>
      </div>

    </body>   
</md-sidenav-layout> 

<!-- Overlay -->

<div>
  
</div>

<div class="overlay" *ngIf = 'overlay'>
      <a class="closebtn" (click) ="closeOverlay()">×</a>
      <div class="inner" style = "width: 20%; margin: auto">
        <app-edit-term-dialog *ngIf = 'editTerm'>Loading...</app-edit-term-dialog>
      </div>
</div>

