<!-- This is the sidenav component wrapper -->
<md-sidenav-layout>
    <md-sidenav #sidenav mode="side" opened="true"class="app-sidenav" style="padding: 0px; margin: 0px; width: 250px; height: 900px">
      <md-list dense>
        
        <!-- School menu -->
        
        <div class="school_dropdown">
          <button (click) = "toggleSchoolMenu()" class = "catalog-menu-button">
              <md-list-item>
                <h3 md-line> School </h3>
                <p md-line>
                <span class="demo-2"> {{schoolMenuSelector}} </span>
                </p>
              </md-list-item>
          </button>
          <div (mouseleave) = "toggleSchoolMenu()" *ngIf = 'schoolMenu' class="dropdown-content">
            <a *ngFor = 'let school of schools' (click) = "toggleSchoolMenu(); updateSchoolMenu([school])" href="#">{{school}}</a>
          </div>
        </div>
        
        <!-- Term menu and more_vert -->
        
        <div class="term_dropdown">
          <button class = "catalog-menu-button" id = "term-dd">
              <md-list-item>
                <h3 md-line (click) = "toggleTermDropdown()"> Term </h3>
                <p md-line (click) = "toggleTermDropdown()">
                <span class="demo-2"> {{termDropdownSelector}} </span>
                </p>
                  <button (click) = "toggleTermMenu()" class = "more-vert-button">
                    <md-icon class="material-icons">more_vert</md-icon>
                  </button>
              </md-list-item>
          </button>
          <div (mouseleave) = "toggleTermDropdown()" *ngIf = 'termDropdown' class="dropdown-content">
            <a *ngFor = 'let term of terms' (click) = "toggleTermDropdown(); updateTermDropdown([term])" href="#">{{term}}</a>
          </div>
          <div (mouseleave) = "toggleTermMenu()" *ngIf = 'termMenu' class="menu-content">
            <a (click) = "toggleTermMenu()" href="#">Edit Term</a>
            <a (click) = "toggleTermMenu()" href="#">Create Term</a>
            <a (click) = "toggleTermMenu()" href="#">Delete Term</a>
          </div>
        </div>
        
        <!-- Department menu and more_vert -->
        
        <button class = "catalog-menu-button">
          <md-list-item>
            <h3 md-line> Department </h3>
            <p md-line>
              <span class="demo-2"> -- </span>
            </p>
              <button class = "more-vert-button">
                <md-icon class="material-icons">more_vert</md-icon>
              </button>
          </md-list-item>
        </button>
        
        <!-- Course menu and more_vert -->
        
        <button class = "catalog-menu-button">
          <md-list-item>
            <h3 md-line> Course </h3>
            <p md-line>
              <span class="demo-2"> -- </span>
            </p>
              <button class = "more-vert-button">
                <md-icon class="material-icons">more_vert</md-icon>
              </button>
          </md-list-item>
        </button>
        
        <!-- Section menu and more_vert -->
        
        <button class = "catalog-menu-button">
          <md-list-item>
            <h3 md-line> Section </h3>
            <p md-line>
              <span class="demo-2"> -- </span>
            </p>
              <button title = "Options" class = "more-vert-button">
                <md-icon class="material-icons">more_vert</md-icon>
              </button>
          </md-list-item>
        </button>
        
        
        <md-divider></md-divider>
        <md-list dense>
          
        <!-- Adoptions by Title and sub-menu -->
          
          <md-list-item style="padding-bottom: 10px">
            <p md-line>
            <span class="demo-2" style="font-size: 13px"> Adoptions by Title </span>
            </p>
            <button class="app-icon-button">
	            <i class="material-icons" style='color:#757575; padding-top: 3px'>list</i>
	          </button>
          </md-list-item>
     
          <!-- Adoptions -->
          
          <div class = "hoverable">
          <md-list-item>
              <md-checkbox md-list-avatar style="padding-bottom: 12px;" [checked]="false">
              </md-checkbox>
              <h4 md-line>Art Through the Ages</h4>
              <p md-line class="demo-2"> 9783746583746 </p>
          </md-list-item>
          </div>
          
          <div class = "hoverable">
          <md-list-item>
              <md-checkbox md-list-avatar style="padding-bottom: 12px;" [checked]="false">
              </md-checkbox>
              <h4 md-line>Anatomy and Physiology</h4>
              <p md-line class="demo-2"> 9783746583857 </p>
          </md-list-item>
          </div>
          
          <div class = "hoverable">
          <md-list-item>
              <md-checkbox md-list-avatar style="padding-bottom: 12px;" [checked]="false">
              </md-checkbox>
              <h4 md-line>Biology</h4>
              <p md-line class="demo-2"> 9783746589859 </p>
          </md-list-item>
          </div>
          
          <md-list-item>
              <md-checkbox md-list-avatar style="padding-bottom: 12px;" [checked]="false">
              </md-checkbox>
              <h4 md-line>Chemisty</h4>
              <p md-line class="demo-2"> 9783746584475 </p>
          </md-list-item>
          
          <md-list-item>
              <md-checkbox md-list-avatar style="padding-bottom: 12px;" [checked]="false">
              </md-checkbox>
              <h4 md-line>English</h4>
              <p md-line class="demo-2"> 9783746589888 </p>
          </md-list-item>
          
          <md-list-item>
              <md-checkbox md-list-avatar style="padding-bottom: 12px;" [checked]="false">
              </md-checkbox>
              <h4 md-line>English</h4>
              <p md-line class="demo-2"> 9783746589888 </p>
          </md-list-item>
          
          <md-list-item>
              <md-checkbox md-list-avatar style="padding-bottom: 12px;" [checked]="false">
              </md-checkbox>
              <h4 md-line>English</h4>
              <p md-line class="demo-2"> 9783746589888 </p>
          </md-list-item>
          
          <md-list-item>
              <md-checkbox md-list-avatar style="padding-bottom: 12px;" [checked]="false">
              </md-checkbox>
              <h4 md-line>English</h4>
              <p md-line class="demo-2"> 9783746589888 </p>
          </md-list-item>
</md-list>

    </md-list>
		  
  	</md-sidenav>
    

	  <body style ="margin: 0px; padding: 0px; background-color: #eee; height: 900px">

      <md-toolbar style="background-color:#2196F3; color:#FFFFFF;  width: 100%; padding: 8px">
        <button class="app-icon-button" (click)="sidenav.toggle()">
	        <i class="material-icons app-toolbar-menu" style = "color: #fff">menu</i>
	      </button>
        <span>Textbook Management</span>
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
  
        <span></span>
      </md-toolbar>
      <app-title-card>Loading...</app-title-card>
      
      
      
      <div id="block_container" style="width: 100%; min-width: 1060px">

        <div id="bloc1" style="width: 50%"><app-adopted-on-card>Loading...</app-adopted-on-card></div>  
        <div id="bloc2" style="width: 50%"><app-adoption-section-card>Loading...</app-adoption-section-card></div>

      </div>
      
      



    </body> 

</md-sidenav-layout> 

