<md-card style="margin-top: 0px; margin-left: 16px; min-width: 412px">
  
  <md-card-title style="font-size: 20px">Art Through the Ages  is adopted on</md-card-title> 
  <md-card-content>

<!--This first tr element is static, always include-->

     <table style="width: 100%" cellspacing="0">
        <tr class="table-header border_bottom">
        <td>Department</td>
        <td>Course</td>
        <td>Section</td>
        <td>Research</td>
        <td style="padding-right: 8px">QTP</td>
        </tr>

<!--This is test data-->

        <tr class = "hoverable">
        <td><p>Art</p></td>
        <td><p>1010</p></td>
        <td><p>01a</p></td>
        <td><p>Approved</p></td>
        <td style="padding-right: 8px"><p>27</p></td>
        </tr>
        
        <tr class = "hoverable">
        <td><p>Art</p></td>
        <td><p>1010</p></td>
        <td><p>01b</p></td>
        <td><p>Problem</p></td>
        <td style="padding-right: 8px"><p>--</p></td>
        </tr>
        
        <tr class="border_bottom hoverable">
        <td><p>History</p></td>
        <td><p>2010</p></td>
        <td><p>03a</p></td>
        <td><p>Approved</p></td>
        <td style="padding-right: 8px"><p>13</p></td>
        </tr>
        
      </table>


  </md-card-content>
</md-card>    