<md-card style="margin: 16px; min-width: 1013px; height: 206px">
  
  <md-card-title style="font-size: 20px">Art Through the Ages</md-card-title> 
  <md-card-content>
        

        
    <div id="block_container" style="width: 100%">
          
<!--column 1-->
 
      <div style="width: 12%; min-width: 120px; float: left">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61v7tpZ4-9L._SX389_BO1,204,203,200_.jpg" style="width: 120px; padding-top: 8px" >
      </div>
    
      
<!--column 2-->
      
      <div style="float: left; width: 14%; min-width: 120px; padding-left: 16px">
            <p style="margin-top: 10px">978-1234567898</p>
            <p>by &nbsp;&nbsp;<p2>Fred S. Kleiner</p2></p>
            <p>Edition &nbsp;&nbsp; <p2>13</p2></p>
            <p>Binding &nbsp;&nbsp; <p2>HC</p2></p>
      </div>
      
<!--column 3-->
      
      <div style="float: left; width: 28%; min-width: 250px">
            <table>
                  <tr>
                        <td style="padding-top: 8px"><p>Publisher</p></td>
                        <td style="padding-top: 8px; padding-left: 16px"><p2>Wadsworth</p2></td>
                  </tr>
                  <tr>
                        <td style="padding-top: 21px"><p>Publish Date</p></td>
                        <td style="padding-top: 21px; padding-left: 16px"><p2>Jan 07, 2009</p2></td>
                  </tr>
                  <tr>
                        <td style="padding-top: 10px"><p>Designators</p></td>
                        
                        <td style="padding-top: 21px; padding-left: 16px">
                        <div id="block_container">
                        <div id="bloc1" style="padding-top: 2 px">
                              <p2>0</p2>
                        </div>
                        <div id="bloc2" style="padding-top: 1px; padding-left: 20px">
	                        <button class="app-icon-button" style="margin-top: -3px">          
	                              <i class="material-icons" style="color: #757575">call_made</i>
	                        </button>
                        </div>
                        </div>
                        </td>
                  </tr>
                  <tr>
                        <td style="padding-bottom: 8px;"><p>Primary Supplier</p></td>
                        <td style="padding-top: 0px">
                              <md-input placeholder="" style="width: 120px; margin-top: -8px; margin-left: 12px; float: left"></md-input>
                        </td>
                  </tr>
            </table>
      </div>
      
<!--column 4-->
      
      <div style="float: left; width: 20%; min-width: 180px; padding-top: 10px">
            <div>
            <button class="app-icon-button">
                  <div id="block_container">
                        <div id="bloc1">
                              <i class="material-icons" style="color: #757575">comment</i>
                        </div>
                        <div id="bloc2" style="padding-top: 1px; padding-left: 21px">
	                        <p style="margin: 0px">2 Notes</p>
                        </div>
                  </div>
            </button>
            </div>
            <div style="padding-top: 13px; padding-bottom: 8px; padding-left: 2px; width: 100%">
                  <div id="block_container">
                        <div id="bloc1" style="margin-top: -17px">
                              <md-checkbox md-list-avatar [checked]="false"></md-checkbox>
                        </div>
                        <div id="bloc2" style="padding-top: 0px; padding-left: 16px">
	                        <p style="margin-top: -3px">Enabled for Rent</p>
                        </div>
                  </div>
            </div>
            <div style="padding-bottom: 8px; padding-left: 2px; width: 100%">
                  <div id="block_container">
                        <div id="bloc1" style="margin-top: -25px">
                              <p>Buyback Quota</p>
                        </div>
                        <div id="bloc2" style="margin-top: -12px; padding-left: 20px; width: 10%">
	                        <md-input placeholder="" style="width: 100%; margin-top: -16px; margin-left: 2px; float: left"></md-input>
                        </div>
                        <div id="bloc3" style="margin-top: -12px">
	                        <button class="app-icon-button" style="padding-left: 16px; margin-top: -2px">          
	                              <i class="material-icons" style="color: #757575">call_made</i>
	                        </button>
                        </div>
                  </div>
            </div>
      </div>
      
<!--column 5-->
      
      <div style="float: left; width: 24%; min-width: 220px">
            <table style="width: 100%; float: right">
                  <tr>
                        <td style="padding-top: 2px; padding-left: 52px"><p>List Price</p></td>
                        <td style="padding-top: 2px; padding-left: 16px"><p2>$227.06</p2></td>
                        <td style="padding-top: 6px">
                              <button class="app-icon-button">          
	                              <i class="material-icons" style="color: #757575">call_made</i>
	                        </button>
                        </td>
                        <td style="padding-left: 8px; padding-top: 6px">
                              <button class="app-icon-button">          
	                              <i class="material-icons" style="color: #757575">lock_open</i>
	                        </button>
                        </td>
                  </tr>
                  <tr>
                        <td style="padding-top: 2px"><p>Open to Buy</p></td>
                        <td style="padding-top: 6px">
                              <div id="block_container">
                                    <div id="bloc1" style="padding-top: 8px; padding-left: 16px">
                                          <p2>0</p2>
                                    </div>
                                    <div id="bloc2" style="padding-top: 10px; padding-left: 20px">
	                                    <button class="app-icon-button" style="margin-top: -3px">          
	                                          <i class="material-icons" style="color: #757575">call_made</i>
	                                    </button>
                                    </div>
                              </div>
                        </td>
                  </tr>
                  
            </table>
            <div style="float: right; padding-top: 40px">
                 <button md-raised-button style="background-color: #2196F3; color: #FFFFFF">ADD TO ORDER</button>
            </div>
      </div>
    </div>
   </md-card-content>
</md-card>    



